html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#leftcol {
    left: 0%;
    height: 100%;
    width: 10%;
    position: absolute;
    border: 2px solid black;
    background: #F0F0F0;
}

#map {
    left: 10.3%;
    height: 100%;
    width: 89.7%;
    position: absolute;
}

.info {
    color: red;
    text-align: center;
}
